# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/

# Virtual environments
.venv/
venv/
env/
ENV/

# Packaging / builds
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS
.DS_Store

# VS Code
.vscode/

# Local env files
.env
.env.*
